@import url('https://fonts.googleapis.com/css?family=Roboto:100,400,500,700,900');

body,div{
  margin:0;
}

.wrapper{
   max-width: 1200px;
   margin: 0 auto;
}
header{
   border-top:20px solid;
   border-color:#04e4a2;
   background-color:#e94643;
   padding:35px 0 25px;
   overflow:hidden;
   
}

.logo,nav{
	display:inline-block;
}

.logo{
   padding-left:140px; 
}

nav{
    float: right;
	margin-right:50px;
	
}

a{
    text-decoration:none;
    color:#ffffff;
	font-family:Roboto;
	font-size:23px;
	/* border-bottom:2px solid;
	border-bottom-color:#fdd835; */
	margin-left:20px;
} 
/* a:hover{
	border-bottom:2px solid #fdd835;
	border-bottom-color:#fdd835;
}
    */

 
.section1{
	background-color:#ef5350;
	
}

.section2{
	background-color:#ffffff;
	padding-top:56px;
}

.left{
	float:left;
	padding:56px;
	
}
.phoneimg{
	max-width:100%;
	/* overflow:hidden; */
}

.right{
	overflow:hidden;
}

/* .myfotoimg{
	max-width:100%;
	position:relative;
  bottom:840px;
  left:27px;
  margin-bottom:-705px;
  margin-right:174px;
	
} */

/* .myfoto{
  position:relative;
  bottom:705px;
  left:27px;
  margin-bottom:-705px;
  margin-right:174px;
  
} */
	
/* .right{
	max-width:50%;
} */
 
.text{
   color:#ffffff;
   padding-top:120px 0 100px 0;
   font-family: Roboto;
}
h1{
  font-size:30px;
  text-transform:uppercase;
  letter-spacing:3px;
}
/* .text{
  /* overflow:hidden; */
  /* padding-bottom:100px; */
  /*background-color:#ef5350;*/
} */
.text p{
  /* font-size:20px; */
  font-family: Roboto;
  white-space:pre-wrap;
  letter-spacing:1px;
  font-weight:100;
  font-size:20px;
 }

.button1{
  float:right;  
  background:#04e4a2;
  color:#ffffff;
  width:30%;
  height:55px;
  border:0,5px solid;
  border-color:#04e4a2;
  border-radius:6px;
  margin-right:5%;
}

.forms{
  overflow:hidden;
  font-family:Roboto;
 /* background-color:#ffffff;*/
}


footer{
   background-color:#fefcf2;
   color:#636363;
   vertical-align:baseline;
   padding:20px 0 30px 0;
   font-family:Roboto;
   font-size:20px;
} 
.copy{
   float:left;
   margin-left:5%;
}
.email{
   margin-left:52%;
   
}

.email a{
	text-decoration:none;
	color:#636363;
	font-family:Roboto;
	font-size:20px;
	border-bottom:none;
	
}
@media screen and (min-width:320px) and (max-width:520px)

@media screen and (min-width:320px) and (max-width:440px){
	.header{
		padding:0;
	}
	
	.logo{
		text-align:center;
		display:block;
		margin:0 auto;
		padding-left:none;
		
		
	}
	nav{
		float:none;
		/* display:block;
		margin:0 auto; */
		/* text-align:center; */
	}
	
	a{
		display:block;
		margin-left:none;
		text-align:center;
	}
    /* .section1{
		overflow:hidden;
	}	 */
	.text{
		overflow:inherit;
	}
	
	.right{
		/* float:left; */
		display:block;
		margin:0 auto;
		text-align:center;
		
		/* overflow:hidden; */
	}
	
	.left{
		/* float: right; */
		display:block;
		margin:0 auto;
		text-align:center;
		padding:0;
	}
	.phone img{
		max-width:100%;
		/* height:auto; */
	}
	
	
} 